.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
}

.header .logo a {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.header nav {
  display: none;
}

.header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav ul li {
  margin-right: 2rem;
  color: #fff;
}

.showcase {
  background: url("./showcase.jpg") no-repeat center/cover;
  height: calc(100vh - 0.1px);
}

.showcase .overlay {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 0.1px);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0 1.5rem;
}

.showcase .overlay h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #fff;
  max-width: 1000px;
}

.showcase .overlay h1 span {
  color: #309dcd;
}

.showcase .overlay p {
  color: #fff;
  margin-bottom: 2rem;
}

.btn {
  background-color: #fff;
  color: #111827;
  font-size: 1rem;
  padding: 0.625rem 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.75;
}

@media (min-width: 1024px) {
  .header nav {
    display: block;
  }

  .showcase .overlay h1 {
    font-size: 6rem;
  }
}
