* {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}

.btn {
  background-color: #e7d215;
  color: #fff;
  font-weight: bold;
  padding: 0.625rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  letter-spacing: 0.3rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.header .logo a {
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.bg-gray {
  width: 20rem;
  height: 20rem;
  background-color: #ffffff;
  position: absolute;
  filter: blur(250px);
  --webkit-filter: blur(250px);
}

.hero {
  position: relative;
  color: #fff;
  padding: 6rem 1.5rem;
}

.hero article h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.hero article h1 span {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  color: #e7d215;
  display: block;
  margin-bottom: 1.5rem;
}

.hero article p {
  margin-bottom: 2rem;
  opacity: 0.75;
  font-size: 0.9rem;
}

.hero article a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero article a img {
  width: 4rem;
  margin-left: 2rem;
}

.hero article:last-child {
  display: none;
}

.single-card {
  color: #fff;
}

.single-card article {
  padding: 0 1.5rem 2rem;
}

.single-card h2 {
  margin: 1rem 0 0.625rem;
}

.single-card p {
  opacity: 0.75;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.single-card ul {
  display: flex;
  align-items: center;
}

.single-card ul li:last-child {
  margin-left: 2rem;
}

.cta {
  background-color: #111;
  padding: 4rem 1.5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta h2 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cta .btn {
  transform: scale(1.25);
  padding: 0.625rem 3rem;
  font-size: 1.25rem;
}

footer {
  padding: 4rem 0;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul li {
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .cards {
    max-width: 1300px;
    margin: auto;
    /* display: grid;
    grid-template-columns: 1fr;
    gap: 2rem; */
  }

  .single-card {
    /* background-color: #111; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
  }

  .single-card article {
    flex: 1;
    padding: 0;
  }

  .single-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .single-card:nth-child(even) .text {
    margin-right: 2rem;
  }

  .single-card:nth-child(odd) .text {
    margin-left: 2rem;
  }
}

@media (min-width: 1024px) {
  .header {
    max-width: 1200px;
    margin: auto;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 1rem 1.5rem;
    max-width: 1200px;
    margin: auto;
  }

  .hero article h1 {
    font-size: 4rem;
  }

  .hero article p {
    font-size: 1rem;
  }

  .hero article:last-child {
    display: block;
  }

  .cta {
    flex-direction: row;
    justify-content: space-around;
  }

  .cta h2 {
    font-size: 3rem;
    margin-bottom: 0;
  }
}
